@import "./base/variables.scss";
@import "./componentes/global";


* {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 62.5;
  }


  /* INDEX====================================================================== */
  
  section img {
    width: 200px;
    height: 200px;
    position: absolute;
  }

  .purple h1 {
    font-family: 'Bebas Neue', cursive;
    color: whitesmoke;
    text-align: center;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }

  .nosotros {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-top: 120px;
    margin-left: 25px;
  }

  .gal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    video {
        width: 350px;
        height: 350px;
      }
  }

  .tps h1 {
    font-family: 'Bebas Neue', cursive;
    font-style: oblique;
    font-size: 2rem;
    color: $color-negro;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .mapa {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  .redescolor2 {
    font-size: 2.2rem;
    text-decoration: none;
    color: $color-negro;
    display: flex;
    justify-content: left;
  }

  /* GALERÍA====================================================================== */
  
  .container__gal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 6px;
    justify-items: center;

    img {
        width: 440px;
        height: 530px;
  }
}

  /* PRESUPUESTOS====================================================================== */

.formu img {
    width: 610px;
    height: 700px;
  }

  /* SERVICIOS====================================================================== */

.tit h1 {
  font-family: 'Bebas Neue', cursive;
    color: $color-titulo-servicios;
    text-align: center;
    font-size: 5rem;
    text-decoration: underline;
  }
  
  ul li h2 {
    font-family: 'Bebas Neue', cursive;
    text-decoration-line: underline;

    p {
      font-family: 'Montserrat', sans-serif;
    }
  }

/* VENTA DE PRODUCTOS====================================================================== */

.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
  }

  .table {
    width: 100%;
    border: 3px solid $color-negro;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;

    caption {
      font-family: 'Bebas Neue', cursive;
        font-size: 28px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 8px 0px;
        text-align: center;
        background-color: white;
      }

      tr {
        background-color: whitesmoke;
        border: 2px solid $color-negro;
      }

      th, td {
        font-size: 18px;
        padding: 8px;
        text-align: center;
      }
      
      thead {
        text-transform: uppercase;
        background-color: $color-negro;

        th {
          font-family: 'Bebas Neue', cursive;
        }
      }

      tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }

      tbody td:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }

      tbody tr td {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
      }
}

@media only screen and (max-width: 576px) {
    
    /* INDEX====================================================================== */
    .purple img {
      display: none;
    }
  
    .purple h1 {
      font-size: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
    }
  
    nav ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .gal {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }

    .mapa {
        flex-direction: column;
        align-items: center;
      }

    /* GALERÍA====================================================================== */
    .container__gal {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
      }

    /* SERVICIOS====================================================================== */
    .tit h1 {
        font-size: 2.2rem;
      }

    main ul {
        display: flex;
        flex-direction: column;
      }

    /* PRESUPUESTOS====================================================================== */
    .formu img {
        display: flex;
        flex-direction: row;
        width: 500px;
        height: 500px;
        margin-left: 35px;
      }

        /* VENTA DE PRODUCTOS====================================================================== */

  .table {
    border: 0px;
    
    caption {
        font-size: 22px;
      }
    
    thead {
        display: none;
    }

    tr {
        margin-bottom: 8px;
        border-bottom: 4px solid wheat;
        display: block; 
    }

    th,td {
        font-size: 12px;
    }

    td {
        display: block;
        border-bottom: 1px solid wheat;
        text-align: right;
        
        &:last-child {
            border-bottom: 0px;
          }

          &::before {
            content: attr(data-label);
            font-weight: bold;
            text-transform: uppercase;
            float: left;
          }
          
    }
    }
}